### Java
*.class
.mtj.tmp/
*.jar
*.ear
hs_err_pid*

### Gradle
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA
out
build
.idea/*
!.idea/dictionaries/custom_dictionary.xml
*.iws
*.iml
*.ipr
